body {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.block {
height: 180px;
width: 600px;

border: 8px #082912 solid;
}

.block1 {
height: 300px;
width: 600px;

border-bottom: 8px #082912 solid;
border-right: 8px #082912 solid;
border-left: 8px #082912 solid;
}
