body {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.block {
height: 220px;
width: 600px;

background-color: #22B14C;
border: 8px #0F4D21 dashed;
}
.image-container {
  position: relative;
  display: inline-block;
}

.bg {
height: 1280px;
width: 640px;

background: linear-gradient (#115725, #31FF6D);
border: 5px #0F4D21 solid;
}
